/* Header Styles */
img[alt="showcaseImg"] {
  position: absolute;
  top: -3px;
  right: 0;
  z-index: -10;
}

figure img[alt="logo"] {
  margin: 0;
  width: 68px;
  height: 75px;
}
figcaption {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
header {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

/* Showcase section styles */
section.showcaseSection {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

section.showcaseSection > * {
  margin: 20px 0;
}

/* Cards section styles */
section.cardSection {
  max-width: 1400px;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: center;
}

/* Footer */
Footer {
  max-width: 1400px;
  margin: 0 auto;
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {
  img[alt="showcaseImg"] {
    width: 500px;
    height: 800px;
  }
}
/*Extra large devices (large desktops, 1060px and up)*/
@media (max-width: 1060px) {
  img[alt="showcaseImg"] {
    width: 400px;
    height: 800px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
  img[alt="showcaseImg"] {
    width: 200px;
    height: 700px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  img[alt="showcaseImg"] {
    display: none;
  }
  section.showcaseSection > * {
    margin: 20px auto;
  }
  section.cardSection > * {
    margin-bottom: 20px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
}
